
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #333333; 
}
.cabecalho{
    padding: 30px;
}
ul{
    list-style: none;
}

.info{
    margin-bottom: 20px;
    margin-right: 10px;
}
.conteudo{
    width: 80%;
    margin: 0 auto;
}
.cabecalho{
    padding: 30px  0px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.redes-sociais{
    width: 200px;
    display: flex;
    justify-content:space-between;
    padding-right: 10px;
}
.perfil{
    right: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;

}
.informacao{
    display: flex;
    align-items: center;
}
.experiencia{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
.esquerda{
    width: 20%;
    text-align: right;
    

}
.direita{
    width: 78%;
}
.titulo-sessao{
    text-transform: uppercase;
}
.minha-foto{
    height: 200px;
    width: 200px;
}
.experiencias{

}
.alinha-topo{
    align-items: flex-start;
}
.rodape{
    background: #333333;
    color:#f1f1f1;
     text-align: center;
     padding: 20px;
     margin-top: 30px;
}





















